@import url(bootstrap.css);

p {
   border: solid;
 
   padding: 20px;

   margin: 30px;

   border-color:red;
   
}

h3 {
   
   padding: 20px;

   margin: 30px;

   text-decoration:underline;

  
}
 
body {
   background-color: Yellow;
}


